
body{
   font-family: roboto, sans-serif;

}
.imp{
   color: white; 
   background-color: #0d3b66;
   padding: 10px;
   border-radius: 20px;
   display: inline;
}
body{
   color: black;
   background-color: white;
}
input + button{
   margin-bottom: 2px;
   color: white;
   background-color: blue;
   border-radius: 10px;
   padding: 5px;
   cursor: pointer;
}
input + button:hover{
   background-color: #2b9348;
}
img {
   width: 300px;
   height: 400px; 
   border-radius: 10px;
}
nav a{
   color: black;
   margin-top: 2px;
   display: inline;
}
ol li{
   color: DarkRed;
}
ul li{
   color: black;
}
section p{
   color: black;
}
span a{
   color: red;
}
.done{
   color: red;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: italic;
   font: bold;
}
table, td, th {
            border: 1px solid blue;
}
table {
      border-collapse: collapse;
      width: 100%;
}
td{
   text-align: center;
}
table{
   color:black;
}
em{
   color: black;
   font-weight: bolder;
}
strong{
   color: darkblue;
}
sup{
   color: red;
   font-weight: bolder;
}
.click {
   color: white;
   background-color: green;
   width: 8%;
   padding: 5px 12px;
   margin: 18px 0;
   border-radius: 10px;
   cursor: pointer;
}
.click:hover{
   background-color: #2b9348;
}
label{
   color: black;
   font: 15px calibri, sans-serif;
   margin-top: 10px;
}
input[type="text"]{
   font-family: 5px, calibri sans-serif;
   color: black;
   width: 12%;
   padding: 5px;
   margin: 5px;
   display: inline;
   border: 3px solid #ccc;
   border-radius: 10px
}
input[type="password"]{
   color: black;
   width: 12%;
   padding: 5px;
   margin: 5px;
   display: inline;
   border: 3px solid #ccc;
   border-radius: 10px;
}
input[type="number"]{
   width: 12%;
   padding: 5px;
   margin: 5px;
   display: inline;
   border: 3px solid #ccc;
   border-radius: 10px;
}
textarea {
   width: 12%;
   height: 120px;
   margin: 5px;
   padding: 10px 10px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 5px;
   background-color: #f8f8f8;
   font-size: 20px;
   font-family: 15px calibri, sans-serif;
   resize: none;
}
#First {
   background-color: #8ecae6;
   border: thick double darkred;
   margin-bottom: 1%;  
   margin-top: 1%;
   padding: 5px;
   border-radius: 15px;
}
#two {
   background-color: palegreen;
   border: thick double darkred;
   margin-bottom: 1%;  
   margin-top: 1%;
   padding: 5px;
   border-radius: 15px;
}
#three {
   background-color: #0096c7;
   border: thick double darkred;
   margin-bottom: 1%;  
   margin-top: 1%;
   padding: 5px;
   border-radius: 15px;
}
#fourth {
   background-color: #48cae4;
   border: thick double darkred;
   margin-bottom: 1%;  
   margin-top: 1%;
   padding: 5px;
   border-radius: 15px;
}
#dost{
   background-color: #faa307;
   border: thick double darkred;
   margin-bottom: 1%;  
   margin-top: 1%;
   padding: 5px;
   border-radius: 15px;
}
#sixth {
   background-color: #90e0ef;
   border: thick double darkred;
   margin-bottom: 1%;  
   margin-top: 1%;
   padding: 5px;
   border-radius: 15px;
}
#seven {
   background-color: #006d77;
   border: thick double darkred;
   margin-bottom: 1%;  
   margin-top: 1%;
   padding: 5px;
   border-radius: 15px;
}
#eigth {
   background-color: #0077b6;
   border: thick double darkred;
   margin-bottom: 1%;  
   margin-top: 1%;
   padding: 5px;
   border-radius: 15px;
}
